<section id="home-hero">

	<div class="hero-logo">
		<div class="logo">
			<img src="../images/three-oaks-logo.svg" alt="">
		</div>
		<div class="bubbles">
			<span><a href="https://www.facebook.com/3oaksdesign" target="_blank">
				<i class="icon-facebook"></i>
			</a></span>
			<span><a href="https://www.instagram.com/three_oaksdesign" target="_blank">
				<i class="icon-instagram"></i>
			</a></span>
			<span><a href="mailto:kira@threeoaksdesign.co">
				<i class="icon-mail"></i>
			</a></span>
		</div>
	</div>

	<div class="hero">
		<div style="background-image: url('../images/three-oaks-design-kitchen.jpg')"></div>
		<div style="background-image: url('../images/three-oaks-design-memphis-bathroom.jpg')"></div>
		<div style="background-image: url('../images/memphis-restoration-design.jpg')"></div>
	</div>

</section>
  