#home-hero {
	position: relative;
	overflow: hidden;
	margin-bottom: 2rem;
	min-height: 40vh;
	height: 40vh;

	@media (min-width: $screen-xs) {height: 50vh;}
	@media (min-width: $screen-sm) {height: 60vh;}
	@media (min-width: $screen-md) {height: 70vh;}

	.slick-slider {
		padding: 2rem;
	}
	.slick-list {
		background-color: #EAECE9;

		&:before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background-color: rgba(44,44,44,.5);
			z-index: 2;
			user-select: none;
		}
	}
	.slick-slide {
		height: 40vh;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;

		@media (min-width: $screen-xs) {height: 50vh;}
		@media (min-width: $screen-sm) {height: 60vh;}
		@media (min-width: $screen-md) {height: 70vh;}
	}

	.hero-logo {
		position: absolute;
		display: inline-block;
		width: 60%;
		max-width: 350px;
		min-height: 100px;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		z-index: 10;

		@media (min-width: $screen-xs) {
			width: 50%;
		}

		.bubbles {
			margin: 2rem 0 0 0;
			text-align: center;
			font-size: 1.6rem;

			@media (min-width: $screen-xs) {margin-top: 2.5rem;}
			@media (min-width: $screen-sm) {margin-top: 3rem; font-size: 1.7rem;}
			@media (min-width: $screen-md) {margin-top: 3.5rem;}

			span {
				height: 44px;
				width: 44px;
				background-color: $brand-green;
				display: inline-flex;
				align-items: center;
				justify-content: center;
				border-radius: 50%;
				overflow: hidden;
				transition: 0.15s ease-out;
				margin: 0 0.2em;

				@media (min-width: $screen-xs) {
					margin: 0 0.3em;
					height: 47px;
					width: 47px;
				}
				@media (min-width: $screen-sm) {
					margin: 0 0.4em;
					height: 50px;
					width: 50px;
				}
				@media (min-width: $screen-md) {margin: 0 0.2em;}

				a {
					color: #fff;
				}

				&:hover {
					background-color: darken($brand-green, 6%);
				}
			}
		}

		.call {
			text-align: center;
			margin: 1em 0 0 0;
		}
	}
}

#home-intro {
	padding: 4rem 0;
}

ul.service-cards {
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
	justify-content: center;

	li {
		display: inline-flex;
		flex-direction: column;
		align-items: center;
		width: 85%;
		margin: 1%;
		border: 1px solid rgba($brand-green, 0.1);
		padding: 20px;
		text-align: center;

		@media (min-width: $screen-xs) {width: 45%;}
		@media (min-width: $screen-sm) {width: 31%;}
		@media (min-width: $screen-md) {width: 23%; padding: 20px;}
		@media (min-width: $screen-lg) {}

		span.svg-icon {
			display: inline-flex;
			align-items: center;
			justify-content: center;
			height: 72px;
			width: 72px;
			background-color: rgba($brand-green, 0.1);
			border-radius: 50%;
			margin: 0 0 15px 0;

			svg {
				display: inline-block;
				width: 40px;
				height: auto;
				fill: darken($brand-green, 10%);
			}
		}
		h5 {
			margin: 10px 0;
			padding: 0;
		}
		p {
			margin: 0;
			margin-top: auto;
			color: darken($brand-green, 10%);
			line-height: 1.28;
			font-size: 14.5px;
			padding: 0;
			display: none;
		}
	}
}

#instafeed {
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
	justify-content: center;
	margin-bottom: 80px;	

	a {
		width: 45%;
		margin: 1%;

		img {}

		&:hover {opacity: 0.9;}

		@media (min-width: $screen-xs) {width: 45%;}
		@media (min-width: $screen-sm) {width: 31%;}
		@media (min-width: $screen-md) {width: 23%;}
	}
}


// Footer
footer {
	padding: 4rem 2em;
	min-height: 20vh;
	text-align: center;
}