// site colours
$text-color: rgb(40,40,40);
$text-color-negative: white;
$brand-color: rgb(29,37,52);
$link-color: rgb(0,114,154);
$link-hover-color: rgb(0,57,78);
$grey: #EAECE9;
$hairline-color: #f8f8f8;
$selection-bg-color: rgba(255,255,100,0.5);
$brand-green: #949f91;
$lite-green: #91938b;

// typographic defaults
$base-font: 'renner-book', Arial ,Helvetica Neue, Helvetica, sans-serif;
$code-font: Courier, monospace;
$base-font-size: 62.5%;
$base-font-weight: 300;
$bold-font-weight: 600;
$base-line-height: 1.28;

// viewport breakpoints
$screen-xs: 480px;
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1240px;
$screen-xl: 1920px;
