---
layout: compress
---

<!DOCTYPE html>
<html data-current="{{ page.section }}" lang="en">

  {% include head.html %}

  <body>

    {% include home-hero.html %}

    <div id="home-intro">
      <div class="container text-center">
      	<h1>Memphis Made. Inspired Design.</h1>
      	<p class="ft-18">Home renovation designer in the greater Memphis area. Serving commercial and residential projects for owners and investors. We create beautiful and functional spaces for clients. We offer a range of services from in person planning to remote design consultation.</p>
        <p class="ft-18">Let&prime;s chat about your next design project. Call today: <a href="tel:9012868874">901.286.8874</a></p>
      </div>

      <div class="container">
        <ul class="service-cards">
          <li>
            <span class="svg-icon">{% include renovation-design.svg %}</span>
            <h5>Renovation Design</h5>
            <p>Micro text here that would give more context.</p>
          </li>
          <li>
            <span class="svg-icon">{% include space-planning.svg %}</span>
            <h5>Space Planning</h5>
            <p>Micro text here that would give more context.</p>
          </li>
          <li>
            <span class="svg-icon">{% include kitchen-remodel.svg %}</span>
            <h5>Kitchen &amp; Bath Remodel</h5>
            <p>Micro text here that would give more context.</p>
          </li>
          <li>
            <span class="svg-icon">{% include design-consulting.svg %}</span>
            <h5>Design Consulting</h5>
            <p>Micro text here that would give more context.</p>
          </li>
          <li>
            <span class="svg-icon">{% include exterior-makeovers.svg %}</span>
            <h5>Exterior Makeovers</h5>
            <p>Micro text here that would give more context.</p>
          </li>
          <li>
            <span class="svg-icon">{% include commercial-aesthetics.svg %}</span>
            <h5>Commercial Aesthetics</h5>
            <p>Micro text here that would give more context.</p>
          </li>
          <li>
            <span class="svg-icon">{% include remote-consulting.svg %}</span>
            <h5>Remote Consulting</h5>
            <p>Micro text here that would give more context.</p>
          </li>
        </ul>
      </div>
    </div>

    <div id="insta-sec" class="container text-center">
      <p class="ft-18">Featured Projects coming soon &mdash; in the meantime, follow us on<br>
        <a href="https://www.instagram.com/three_oaksdesign" target="_blank"><i class="icon-instagram"></i>three_oaksdesign</a>
      </p>
      <div id="instafeed"></div>
    </div>

    <style>
    	.container {
    		width: 100%;
    		max-width: 990px;
    		margin: 0 auto;
    		padding: 15px;
    	}
    </style>

    {% include footer.html %}

  </body>

  <script type="text/javascript">
    $(document).ready(function(){
      $('.hero').slick({
		dots: false,
		arrows: false,
		infinite: true,
		speed: 1600,
		fade: true,
		autoplay: true,
		draggable: false,
  		autoplaySpeed: 3600,
  		pauseOnFocus: false,
  		pauseOnHover: false,
  		pauseOnDotsHover: false,
		cssEase: 'ease-out'
      });
    });
  </script>

  <script type="text/javascript">
      var feed = new Instafeed({
        accessToken: 'IGQVJWMEFEOGNsYmJjOXRYc1RmejVIUG5Wa0Q1UGJ4XzF1UE1KN2MtbjYwWHhDMXMtb0M1WlZAmLXNEeVg1ZAFY4cGd3RlhBWEhhSGNGOFRrY0c2UXpuc3UyUmdlQnNJeS13QjI0RUhMZAlJBLXZAnMHd2ZAgZDZD',
        limit: 8,
      });
      feed.run();
  </script>

</html>
